# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*.{css,html,js,less,pt,sass,scss,xml,zcml}]
indent_size = 2

# 4 space indentation
[*.{cfg,py}]
indent_size = 4

[Makefile]
indent_style = tab
