.coverage
*.egg-info
*.mo
*.py?
*~
.installed.cfg
.mr.developer.cfg
Gruntfile.js
package.json
package-lock.json
bin/
checkouts/
coverage/
develop-eggs/
dist/
docs/build/
downloads/
eggs/
htmlcov/
node_modules/
parts/
temp_resources/
var/
