sudo: false
language: python
python:
  - 3.7
cache:
  pip: true
  directories:
  - eggs
  - downloads
env:
  - PLONE_VERSION=5.2
matrix:
  fast_finish: true
  include:
    - name: "Python 3.7 on Xenial Linux"
      python: 3.7           # this works for Linux but is ignored on macOS or Windows
      dist: xenial          # required for Python >= 3.7
addons:
  firefox: 45.8.0esr
before_install:
  - pip uninstall -y six
install:
  - sed -ie "s#test-5.1.x.cfg#test-$PLONE_VERSION.x.cfg#" buildout.cfg
  - pip install -r requirements.txt
  - buildout -N buildout:download-cache=downloads code-analysis:return-status-codes=True annotate
  - buildout -N buildout:download-cache=downloads code-analysis:return-status-codes=True
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - firefox -v
script:
  - bin/code-analysis
  - bin/test
after_success:
  - travis_wait 45 bin/createcoverage
  - pip install coveralls
  - coveralls
notifications:
  email:
    - volker.jaenisch@inqbus.de
